* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  background-color: #1e6add;
  padding: 10px 20px;
  height: 50px;
}

.logo {
  color: #fff;
  font-size: 24px;
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.nav-list a:hover {
  background-color: #575757;
  border-radius: 5px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.bar {
  height: 3px;
  width: 25px;
  background-color: #fff;
  margin: 3px 0;
}

@media (max-width: 768px) {
  .nav-list {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
  }

  .nav-list li {
      margin: 10px 0;
  }

  .menu-toggle:checked + .menu-icon + .nav-list {
      display: flex;
  }

  .menu-icon {
      display: flex;
  }
}
