<div class="flex justify-center items-center h-screen bg-gray-100">
  <div class="w-full max-w-md p-6 bg-white rounded-lg shadow-md">
    <div class="text-center text-2xl font-bold text-gray-800">Sign up now</div>

    <form [formGroup]="regiForm" class="flex flex-col gap-4 mt-4">

      <input formControlName="email" type="email" placeholder="Enter Email"
        class="w-full bg-gray-100 p-3 border rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500">
      <div *ngIf="regiForm.controls['email'].invalid && regiForm.controls['email'].touched" class="text-red-500 text-sm">
        <small *ngIf="regiForm.controls['email'].errors?.['required']">Email is required</small>
        <small *ngIf="regiForm.controls['email'].errors?.['email']">Invalid Email</small>
      </div>

      <input formControlName="password" type="password" placeholder="Choose A Password"
        class="w-full p-3 border bg-gray-100 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-indigo-500">
      <div ngClass="{:regiForm.controls['password'].invalid && regiForm.controls['password'].touched}" class="text-red-500 text-sm">
        <small *ngIf="regiForm.controls['password'].errors?.['required']">Password is required</small>
        <small *ngIf="regiForm.controls['password'].errors?.['minlength']">Password should be at least 8 characters</small>
      </div>

      <button [disabled]="regiForm.invalid" (click)="adminRegistration()"
        class="w-full p-3 text-white bg-indigo-600 rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500">
        Sign up
      </button>

      <span class="text-center text-gray-600 text-sm">
        Already a member? <a routerLink="/" class="text-indigo-600 hover:underline">Login Here</a>
      </span>
    </form>
